body{
    font-family: 'Roboto';
}
header{
    height: auto;
    border-bottom: 1px solid #ece;
    padding: 24px 0 25px;
}
header .container{
    display: flex;
    align-items: center;
}
header .container ul{
    display: flex;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    outline: dashed red;
}
.logo{
    color: #2196F3;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
}
.studio{
    color: #000;
    margin-right: 43px;
}
.studio2{
    color: white;
}
.navigationa{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;

    padding-left: 50px;
}
.contacts .navigationa{
    color: #757575;
}
.contacts {
    margin-left: 294px;
}
.navigationa:hover{
    color: #2196F3;
}
.nav{
    padding-top: 94px;
    padding-bottom: 50px;
}
.nav .container ul{
    display: flex;
    justify-content: center;
}
.nav-button{
    width: auto;
    height: 38px;
    background: #F5F4FA;
    border-radius: 4px;
    border: none;
    padding: 6px 22px;

    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

    margin-right: 8px;
}
.nav-button:focus, .nav-button:hover{
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    color: #FFFFFF;
    cursor: pointer;
}
.projects{
    padding-bottom: 94px;
}
.projects .container ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.project-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;

    margin-top: 20px;
}
.project-type{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;

    margin-top: 4px;
    margin-bottom: 50px;
}
/**/

footer{
    background: #2F303A;
    padding-top: 60px;
}
footer .logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    
    margin-top: 300px;
}
footer address{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;

    margin-top: 20px;
}
.navigationf{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    margin-top: 9px;
}