body{
    font-family: 'Roboto';
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    /* outline: dashed red; */
}


/* header */
header{
    height: auto;
    border-bottom: 1px solid #ece;
    padding: 24px 0 25px;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-list{
    display: flex;
}
.logo{
    color: #2196F3;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
}
.studio{
    color: #000;
    margin-right: 93px;
}
.studio2{
    color: white;
}
.navigationa{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;

    display: flex;
    gap: 10px;
    align-items: center;
}
.contacts-list .navigationa{
    color: #757575;
}
.contacts-list{
    display: flex;
    margin-left: auto;
}
.menu-list, .contacts-list{
    gap: 50px;
}
.navigationa:hover{
    color: #2196F3;
}


/* hero  */
.hero{
    background-color: rgba(47, 48, 58, 0.40);
    background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(./images/hero-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    letter-spacing: 0.06em;
} 
.hero .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 200px 252px;
}
.hero-title{
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    text-align: center;
    letter-spacing: 0.06em;
}
.hero-button{
    width: 216px;
    height: 50px;
    border-radius: 4px;
    background-color: #2196F3;
    border-style: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
    margin-top: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} 
.hero-button:hover{
    background-color: #188CE8;
} 


/* tech  */
.tech{
    padding-top: 94px;
}
.tech-list{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.tech-img-container{
    border-radius: 4px;
    background: #F5F4FA;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.tech-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.tech-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
    text-transform: none;
    width: 270px;

    margin-top: 10px;
}


/* work */
.work{
    padding-top: 118px;
    padding-bottom: 94px;
}
.work-list{
    display: flex;
    justify-content: space-between;
}
.work-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}
.work-img{
    width: 370px;
    height: 294px; 
}


/* workers  */
.workers{
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;
}
.workers-list{
    display: flex;
    justify-content: space-between;
}
.workers-list li{
    padding-bottom: 30px;
}
.workers-list-item{
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

}
.workers-img{
    width: 270px;
    height: 260px;
}
.workers-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}
.workers-names{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

    margin-top: 30px;
}
.workers-job{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;

    margin-top: 10px;
}
.workers-social-networks{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22px;

    margin-top: 16px;
}
.workers-social-networks-item{
    border-radius: 100%;
    padding: 12px;
    width: 44px;
    height: 44px;
}
.workers-social-networks-item:hover{
    background-color: #2196F3;
}



/* clients */
.clients .container{
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients-title{
    color: #212121;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}
.clients-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.clients-list-item{
    width: 170px;
    padding: 16px 32px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
}
.clients-list-item:hover{
    border: 1px solid #2196F3;
}


/* footer  */
footer{
    background: #2F303A;
    padding-top: 50px;
    padding-bottom: 60px;
}
.footer .container{
    display: flex;
    gap: 70px;
}
footer .logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}
footer address{
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    margin-top: 20px;
}
.navigationf{
    margin-top: 9px;
}
.navigationf a{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-social-networks-title{
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.footer-social-networks-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.footer-social-networks-item{
    border-radius: 100%;
    padding: 12px;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.10);
}
.footer-social-networks-item:hover{
    background: #2196F3;
}